agm-map {
  height: 100vh;
}
.info-col {
  position: absolute;
  right: 5px; 
  top: 5px; 
  width: 145px; 
  bottom: 130px;
  opacity: 0.85;
  color: #000000;
  overflow: hidden;
  overflow-y: scroll; 
}
.inner-text {
  font-size: 12px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #e0e0e0; 
}
#car-name {
  padding-top: 5px;
}
